/**
 * css reset
 * @author ydr.me
 */

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, button, input, select, textarea {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

b, strong {
    font-weight: bold;
}

i, em {
    font-style: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0 none;
    width: auto \9;
    max-width: 100%;
    vertical-align: top;
    height: auto;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input:focus {
    outline: none;
}

input::-webkit-input-speech-button {
    display: none
}
