@charset "utf-8";
/**
 * css reset
 * @author ydr.me
 */

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  position: relative;
  min-height: 100%;
}

body, button, input, select, textarea {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  font-size: 100%;
  overflow: visible;
}

code, kbd, pre, samp {
  font-family: Consolas, Menlo, Courier, monospace;
}

body {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: normal;
}

del {
  text-decoration: line-through
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0 none;
  max-width: 100%;
  vertical-align: top;
  height: auto;
}

a,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input::-webkit-input-speech-button {
  display: none
}

input::-ms-clear,
textarea::-ms-clear {
  display: none;
}